:root{
    --blue-bg: #2E3C7E;
    --pale-bg: #FBEAEB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    .App{
        min-width: 100%;
        min-height: 100vh;
        background-color: var(--pale-bg);
        .sidebar{
            padding-top: 15%;
            min-height: 100vh;
            background-color: var(--blue-bg);
            color: var(--pale-bg);
            list-style: none;
            .heading{
                padding-left: 20%;
                padding-right: 10%;
                display: flex;
                align-items: center;
            }
            #icon{
                width: 80px;
                height: 80px;
                margin-left: -10px;
                transform: rotate(45deg);
            }
            h1{
                position: absolute;
            }
            .categories{
                margin-top: 1.25rem;
            }
            li{
                cursor: pointer;
                display: flex;
                align-items: center;
                padding-left: 20%;
                padding-right: 10%;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                font-size: 1.4375rem;
                margin-top: 1.25rem;
            }
            .Type{
               background-color:#4e63cf ;
            }
        }
        .content{
            min-width: 100vh;
            color: var(--blue-bg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            h1{
                position: absolute;
                top: 1.25rem;
                letter-spacing: 5px;
                transform: scale(1.2);
                text-transform: uppercase;
            }
            .table-container{
                margin-top: -20rem;
            }
        }
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
}